body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.quadrant {
  position: absolute;
  width: 50%;
  height: 50%;
}

.quadrant-0 {
  background: red;
  top: 0;
  left: 0;
}

.quadrant-1 {
  top: 0;
  right: 0;
  background: blue;
}

.quadrant-2 {
  bottom: 0;
  left: 0;
  background: green;
}

.quadrant-3 {
  bottom: 0;
  right: 0;
  background: yellow;
}
